h1 {
  
  color: white;

  background-size:cover;
  position: absolute;
  top: 0px;
  left: 20px;

  height : 80px;
  margin: 10px; 
  width:1180px;
  font-size: 350%;
  font-family: sans-serif;
  font-style: italic;

   }

   #perfil {
  background-color: #5b5b5b;
  border : 1px solid #000;
  position: absolute;
  top: 145px;
  left: 30px;
  height : 472px;
  padding : 0px;
  width: 214px;

}

body {
  
  background-image: url("imagen4.jpg");
  
  background-size: cover  ;
  margin-top: 100px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 70px;
  background-repeat: no-repeat;;
  
  font-family: Georgia, "Times New Roman",
        Times, serif;
  
  }


  #text1 {
  position: absolute;
  top: 145px;
  left: 280px;
  height: 210px;
  width: 600px;
  text-align: center;
  
  border : 1px solid #000;
}   

#text2 {

  position: absolute;
  top: 365px;
  left: 280px;
  height: 210px;
  width: 600px;
  text-align: center;
  
  border : 1px solid #000;
}

#text3 {
  position: absolute;
  top: 590px;
  left: 280px;
  height: 200px;
  width: 600px;
  text-align: center;
  border : 1px solid #000;
}

#imagen1 {
background-image: url("tubu1.png");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 145px;
  left: 910px;

}

#imagen2 {
background-image: url("dolphin.png");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 365px;
  left: 910px;

}