h1 {
  
  color: white;
  background-color: #226764;
  background-image: url("fondo2.jpg");
  background-size:cover;
  position: absolute;
  top: 0px;
  left: 20px;
  border : 1px solid #000;
  height : 80px;
  margin: 10px; 
  width:1180px;
  font-size: 350%;
  font-family: sans-serif;
  font-style: italic;

   }


body {
  
  background-image: url("imagen3.jpg");
  
  background-size: cover  ;
  margin-top: 100px;
  margin-right: 40px;
  margin-bottom: 10px;
  margin-left: 70px;
  
  
  font-family: Georgia, "Times New Roman",
        Times, serif;
  }
#perfil {
  background-color: #5b5b5b;
  border : 1px solid #000;
  position: absolute;
  top: 145px;
  left: 30px;
  height : 472px;
  padding : 0px;
  width: 214px;

}



h2 {
  color: white;
}

#text1 {
  position: absolute;
  top: 145px;
  left: 280px;
  height: 210px;
  width: 600px;
  text-align: center;
  
  border : 1px solid #000;
}   

#text2 {
 
  position: absolute;
  top: 365px;
  left: 280px;
  height: 210px;
  width: 600px;
  text-align: center;
  
  border : 1px solid #000;
}

#text3 {
 
  position: absolute;
  top: 275px;
  left: 900px;
  height: 300px;
  width: 280px;
  text-align: center;
  border : 1px solid #000;
}
#imagen1 {
background-image: url("astronauta1.png");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 95px;
  left: 910px;

}

#imagen2 {
background-image: url("intersetellar.png");
background-size: 400px 210px;
width: 400px;
height: 210px;
position: absolute;
  top: 605px;
  left: 420px;

}

#imagen3 {
background-image: url("christopher.jpg");
background-size: 280px 230px;
width: 280px;
height: 230px;
position: absolute;
  top: 635px;
  left: 910px;

}


#imagen4 {
background-image: url("odisea.gif");
background-size: 320px 190px;
width: 320px;
height: 190px;
position: absolute;
  top: 640px;
  left: 30px;

}