body {
  
  background-image: url("fondo11.jpg");
  

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  
  font-family: Georgia, "Times New Roman",
        Times, serif;
  
  }
#perfil {
  background-image: url("Me.jpg");
  background-color: #5b5b5b;
  border : 1px solid #000;
  background-size: cover;	 
  height : 430px;
  width: 214px;	
  position:absolute;
  top: 145px;
  left: 160px;
  
  padding : 0px;
  

}

#imagen1 {
background-image: url("saywhatagain.gif");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 145px;
  left: 1037.5px;
 border : 1px solid #000;

}
 
#imagen2 {
background-image: url("fightclub.png");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 365px;
  left: 1037.5px;
 border : 1px solid #000;

}

#imagen3 {
background-image: url("deadpool2.gif");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 590px;
  left: 160px;
 border : 1px solid #000;

}

#imagen4 {
background-image: url("SoyProgramador.gif");
background-size: 220px 210px;
width: 220px;
height: 210px;
position: absolute;
  top: 590px;
  left: 1037.5px;
 border : 1px solid #000;

}


h1 {
  
  color: white;
   text-align: center;
  background-image: url("fondo3.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 160px;
  border : 1px solid #000;
  height : 80px;
  margin: 10px; 
  width:1095px;
  font-size: 350%;
  font-family: sans-serif;
  font-style: italic;

   }

   p{
  
  margin-left: 10px;
}

#text1 {
  background-color: white;
  position: absolute;
  top: 145px;
  left: 405px;
  height: 210px;
  width: 600px;
  text-align: center;
  
  border : 1px solid #000;
}   

#text2 {
  background-color: white;
  position: absolute;
  top: 365px;
  left: 405px;
  height: 210px;
  width: 600px;
  text-align: center;
  
  border : 1px solid #000;
}

#text3 {
  background-color: white;
  position: absolute;
  top: 590px;
  left: 405px;
  height: 200px;
  width: 600px;
  text-align: center;
  border : 1px solid #000;
}


